@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #dedede;
    margin: 20px;
}
.card-style {
    display: block;
    background-color: #fff;
    /* height: 100px;
    width: 350px; */
    /* margin: 20px 0px; */
    box-shadow: 1px 1px 8px #999;
    cursor: pointer;
}
.card-img {
    height: 100px;
    width: 100px;
}
.media-heading {
    margin-top: 10px;
    color: #444;
}
.media-heading:hover, a:link {
    color: #00C853;
    text-decoration: none;
}
.members {
    margin-top: 20px;
    color: #999;
    float: left;
 }
 .btn-part {
     display: inline-block;
     margin: 10px;
     float: right;
 }
 .badge {
     display: inline-block;
     background: #00C853;
     float: right;
     padding: 7px;
     border-radius: 50px;
     margin: 10px;
 }

#room {
    background-color: #79cdcd;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* 
#message-container {
    width: 80%;
    max-width: 1200px;
}

#message-container div {
    background-color: #ccc;
    padding: 5px;
}

#message-container div:nth-child(2n) {
    background-color: #fff;
}

#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input {
    flex-grow: 1;
} */




#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}